body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    gap: 20px;
}

.product-card {
    background: rgb(197, 197, 197);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease;
}
.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-card h3 {
  margin: 10px 0 5px;
}

.product-card p {
  font-weight: bold;
  color: #28a745;
}

.product-card button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #0056b3;
}

footer {
    background: #eee;
    padding: 10px;
    text-align: center;
    margin-top: 100%;
    border-top: rgb(46, 45, 45) solid 1px;
}